<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 每个页面的标题可能不一样,所以使用一个变量来更新,每个页面传入即可-->
    <title>小溪沟 管理中心 - {$meta_title} </title>
    <meta charset="utf-8"/>
    <link href="__PUBLIC__/Admin/css/general.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/Admin/css/main.css" rel="stylesheet" type="text/css"/>
    <!-- 以下是为css扩展预留-->
    <block name="css"></block>
</head>
<body>
<block name='content'></block>
<div id="footer">
    <!-- 以下是一些执行的信息,使用系统 内置的方法实现-->
    共执行 {:N('db_query')} 个查询，用时 {:G('viewStartTime','viewEndTime')}s，内存占用 {:number_format((memory_get_usage() -
    $GLOBALS['_startUseMems'])/1024,2)} KB<br/>
    版权所有 &copy; 1987-{:date('Y')} 小溪沟旅游开发有限公司，并保留所有权利。
</div>
<!--下面这个是为 js  预留的位置-->
<block name='js'></block>
</body>
</html>