<extend name="Layout:base"/>
<block name="css">
    <css href="__EXT__/uploadify/uploadify.css" />
    <css href="__EXT__/zTree/css/zTreeStyle/zTreeStyle.css" />
    <style type="text/css">
        .myupload-pre-item img{
            width:150px;
        }

        .myupload-pre-item{
            display:inline-block;
        }

        .myupload-pre-item a{
            position:relative;
            top:5px;
            right:15px;
            float:right;
            color:red;
            font-size:16px;
            text-decoration:none;
        }

        /**商品分类的ztree样式**/
        .ztree{
            width:220px;
            height:auto;
            margin-top: 10px;
            border: 1px solid #617775;
            background: #f0f6e4;
            overflow-y: scroll;
            overflow-x: auto;
        }
<present name='row'>
        #logo_view {
            width: 200px;
        }
        </present>
    </style>
</block>
<block name="content">
<h1>
    <span class="action-span"><a href="{:U('index')}">商品列表</a>
    </span>
    <span class="action-span1"><a href="">小溪沟管理中心</a></span>
    <span id="search_id" class="action-span1"> - {$meta_title} </span>
    <div style="clear:both"></div>
</h1>

<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="{:U('')}" method="post">
            <table width="90%" id="general-table" align="center">
                <tr>
                    <td class="label">商品名称：</td>
                    <td><input type="text" name="name" value="{$row.name}" size="30" />
                    <span class="require-field">*</span></td>
                </tr>
                <tr>
                    <td class="label">商品货号： </td>
                    <td>
                        <input type="text" name="goods_sn" value="{$row.sn}" size="20" readonly="readonly"/>
                        <span id="goods_sn_notice"></span><br />
                        <span class="notice-span"id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">供应商：</td>
                    <td>
                        {:showSelect($supplier_list,"name","id",'supplier_id',$row['supplier_id'])}
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品品牌：</td>
                    <td>
                        {:showSelect($cate_list,"name","id",'brand_id',$row['brand_id'])}
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品分类：</td>
                    <td>
                        <input type="text" value="请选择" id="goods_category_name" disabled="disabled"/>
                        <input type="hidden" value="" name="goods_category_id" id="goods_category_id"/>
                        <ul id="goods-categories-tree" class="ztree"></ul>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品数量：</td>
                    <td>
                        <input type="text" name="stock" size="8" value="{$row.stock}"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否上架：</td>
                    <td>
                        <input type="radio" name="is_on_sale" value="1" class="is_on_sale"/> 是
                        <input type="radio" name="is_on_sale" value="0" class="is_on_sale"/> 否
                    </td>
                </tr>
                <tr>
                    <td class="label">加入推荐：</td>
                    <td>
                        <input type="checkbox" name="goods_status[]" value="1" class="goods_status" /> 精品
                        <input type="checkbox" name="goods_status[]" value="2"  class="goods_status"  /> 新品
                        <input type="checkbox" name="goods_status[]" value="4"  class="goods_status"  /> 热销
                    </td>
                </tr>
                <tr>
                    <td class="label">推荐排序：</td>
                    <td>
                        <input type="text" name="sort" size="5" value="{$row.sort|default=20}"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">市场售价：</td>
                    <td>
                        <input type="text" name="market_price" value="{$row.market_price}" size="20" />
                    </td>
                </tr>
                <tr>
                    <td class="label">本店售价：</td>
                    <td>
                        <input type="text" name="shop_price" value="{$row.shop_price}" size="20" />
                    </td>
                </tr>
                <tr>
                    <td class="label">商品LOGO：</td>
                    <td>
                        <input type="hidden" value="{$row.logo}" id="logo" name="logo"/>
                        <input id="file_upload" name="file_upload" type="file" multiple="true">
                        <img src="{$row.logo}" id="logo_view" />
                    </td>
                </tr>
                <tr>
                    <td class="label">商品详细描述：</td>
                    <td>
                        <textarea id="editor" type="text/plain" style="width:500px;height:200px;" name="content">{$row.content}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品相册：</td>
                    <td>
                        <div class="myupload-img-box">
                            <volist name='row.photos' id='photo'>
                                <div class="myupload-pre-item">
                                    <img src="{$photo}"/>
                                    <a href="javascript:;" class="deletePhoto" date_id="{$key}">×</a>
                                </div>
                            </volist>
                        </div>

                        <div>
                            <input type="file" id='photo' multiple="true"/>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <present name="row">
                    <input type="hidden" value=" {$row.id} " name="id" class="button"/>
                </present>
                <input type="submit" value=" 确定 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</div>
</block>
<block name="js">
      <js href="__EXT__/myue/myue.config.js" />
      <js href="__EXT__/myue/ueditor.all.min.js" />
      <js href="__EXT__/myue/lang/zh-cn/zh-cn.js" />
      <js href="__PUBLIC__/Admin/js/jquery.min.js" />
      <js href="__EXT__/layer/layer.js" />
      <js href="__EXT__/uploadify/jquery.uploadify.min.js" />
      <js href="__EXT__/zTree/js/jquery.ztree.core.min.js" />
    <script type="text/javascript">
      $(function(){
            //>>给图片添加点击删除事件
          $('.myupload-img-box').on('click','.deletePhoto',function(){
              var id = $(this).attr('date_id');
              var that = this;
             if(id){
                 //>>有数据说明是数据库已经存在的图片,需要进行ajax删除
                 $.getJSON("{:U('Goods/deletePhoto')}",{"id":id},function(response){
                     //>>删除后操作
                    if(response){
                        $(that).parent().remove();
                    }

                 })
             }else{
                $(this).parent().remove();
             }
          });

          //>>回显是否上架
          $('.is_on_sale').val([{$row.is_on_sale|default=1}]);
          //>>回显商品状态
      <present name="row">
          var goods_status = [];
          if({$row.goods_status} & 1){
              goods_status.unshift(1);
          }
          if({$row.goods_status} & 2){
              goods_status.unshift(2);
          }
          if({$row.goods_status} & 4){
              goods_status.unshift(4);
          }
          $('.goods_status').val(goods_status)
      </present>

              var setting = {
                  "data"  : {
                      "simpleData" : {
                          "enable"  : true,
                          "pIdKey"  : 'parent_id',  //>>告知 zTree插件 ,我们使用父级id号为parent_id  .
//                      "idKey"   : "id",
//                      "rootPId" : 0
                      }
                  },
                  "callback" : {
                      "onClick" : function(event,treeId,treeNode){
                          //>>点击事件时的回调函数 ,event 为标准点击事件对象,treeId对应ztree的treeid
                          //>> treeNode  被点击节点的json数据对象
                          //>>当点击 的时候 ,我们要把点击 的数据回显到上面一个文本框内,
                          // 并且把数据id放到一个隐藏域中,以便于数据提交
//                    console.debug(treeNode);
                          $('#goods_category_name').val(treeNode.name);
                          $('#goods_category_id').val(treeNode.id);
                      }
                  }
              };
              var zNodes = {$goods_cate_list};  //>>保存所有节点数据
              var zTreeInit = $.fn.zTree.init($('#goods-categories-tree'),setting,zNodes);
              zTreeInit.expandAll(true);
          <present name="row">
              var goods_category_id = {$row.goods_category_id};
              var parent_node =  zTreeInit.getNodeByParam('id',goods_category_id); //>>细心啊,最近怎么那么不细心呢
              zTreeInit.selectNode(parent_node);
              $('#goods_category_name').val(parent_node.name);
              $('#goods_category_id').val(parent_node.id);
          </present>
          //>>实现编辑器
          UE.getEditor('editor');
        //>>实现商品分类的树状显示
            //>>实现logo图片上传优化
          creatae_logo();
          //>>实现相册图片上传
          creatae_photo();

      });

      //>> 实现上传控件的使用,上传logo图片
      function creatae_logo(){
          $('#file_upload').uploadify({
              //>>选择上传文件对象并调用uploadify方法 ,传入一个json对象做参数.
              "swf"  :   '__EXT__/uploadify/uploadify.swf',  //指定上传插件的主体文件.
              "uploader"  :  '{:U("Upload/upload")}',       // 指定服务器上的处理文件
              "auto"   :  true,    //>>  auto  设为true  当文件被添加到上传队列时会自动上传
              "buttonText"   :   '请选择图片' ,  //  定义选择控件上显示 的文字
              "fileSizeLimit" : '2000000KB',  //  允许上传的文件大小限制
              "fileTypeExts"  :  '*.gif;*.png;*.jpg;*.jpeg;*.bmp',//允许上传的文件后缀
              "removeTimeout" :  3,  //>>上传成功后的等待时间自动关闭.
              "onUploadSuccess" : function(file,data){
                  var  file_info = $.parseJSON(data);
                  //>>判断是否上传成功
                  if(file_info.status){
                      //>> 取得上传成功后文件的保存路径
                      var file_url = file_info.file_url;
                      //>>把文件路径更新到隐域中,并回显图片

                      $('#logo').val(file_url);
                      $('#logo_view').attr('src',file_url);
                      $('#logo_view').css('width','200px');
                      layer.msg("上传成功",{"icon":5,"time":3000});
                  }else{
                      //>>提示信息,
                      layer.msg(file_info.msg,{"icon":5,"time":3000});
                  }
              },
              /* "onUploadError" :function(){
               alert('这是测试');
               },*/
          });

      }

      function creatae_photo(){
          $('#photo').uploadify({
              //>>选择上传文件对象并调用uploadify方法 ,传入一个json对象做参数.
              "swf"  :   '__EXT__/uploadify/uploadify.swf',  //指定上传插件的主体文件.
              "uploader"  :  '{:U("Upload/upload")}',       // 指定服务器上的处理文件
              "auto"   :  true,    //>>  auto  设为true  当文件被添加到上传队列时会自动上传
              "buttonText"   :   '请选择图片' ,  //  定义选择控件上显示 的文字
              "fileSizeLimit" : '2000000KB',  //  允许上传的文件大小限制
              "fileTypeExts"  :  '*.gif;*.png;*.jpg;*.jpeg;*.bmp',//允许上传的文件后缀
              "removeTimeout" :  3,  //>>上传成功后的等待时间自动关闭.
              "onUploadSuccess" : function(file,data){
                  var  file_info = $.parseJSON(data);
                  //>>判断是否上传成功
                  if(file_info.status){
                      //>> 取得上传成功后文件的保存路径
                      var file_url = file_info.file_url;
                      //>>把文件路径更新到隐域中,并回显图片

                   /*   $('#logo').val(file_url);
                      $('#logo_view').attr('src',file_url);
                      $('#logo_view').css('width','200px');*/
                      var photo_html = '<div class="myupload-pre-item">';
                      photo_html += '<input type="hidden" name="goods_photo[]" value="' + file_url + '"/>';
                      photo_html += '<img src="' + file_url + '"/>';
                      photo_html += '<a href="javascript:;" class="deletePhoto">×</a>';
                      photo_html += '</div>';
                        $(photo_html).appendTo($('.myupload-img-box'));
                      layer.msg("上传成功",{"icon":5,"time":3000});

                  }else{
                      //>>提示信息,
                      layer.msg(file_info.msg,{"icon":5,"time":3000});
                  }
              },
              /* "onUploadError" :function(){
               alert('这是测试');
               },*/


          });

      }
    </script>
</block>